name: Rust build for aarch64

on:
  push:
    tags:
      - "*.*.*"
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-24.04-arm

    steps:
      - uses: actions/checkout@v6
      - name: Install system library dependencies
        run: sudo apt-get update && sudo apt-get install -y libudev-dev libnfc-dev libdbus-1-dev
      - name: Add musl target
        run: rustup target add aarch64-unknown-linux-musl
      - name: Build
        run: cargo build --verbose --release --target aarch64-unknown-linux-musl
      - name: Release
        uses: softprops/action-gh-release@v2
        if: github.ref_type == 'tag'
        with:
          files: |
            target/release/openerapp
