name: Rust build and test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - name: Install system library dependencies
      run: sudo apt-get update && sudo apt-get install -y libudev-dev libnfc-dev
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
